@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
:root {
  --thumb-position: 50%;
  --before-thumb-color: #a4ffaf;
  --after-thumb-color: #18171f;
}
body {
  display: flex;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", sans-serif;
  flex-direction: column;
  gap: 16px;
}
.generator {
  display: flex;
  justify-content: space-between;
  background: var(--dark-grey, #24232c);
  width: 343px;
  padding: 17px 22px 15px 24px;
  font-weight: 700;
  font-size: 24px;
  color: var(--almost-white, #e6e5ea);
  font-feature-settings: "clig" off, "liga" off;
  align-items: center;
}
main {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: #817d92;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.container {
  background: var(--dark-grey, #24232c);
  width: 343px;
  position: relative;
}
.slider-div {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 16px 42px;
  justify-content: space-between;
  align-items: center;
}
#length {
  color: var(--almost-white, #e6e5ea);
  font-size: 16px;
  font-weight: 700;
}
#number {
  color: var(--neon-green, #a4ffaf);
  font-size: 24px;
  font-weight: 700;
}
#slider {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: var(--neon-green, #a4ffaf);
  background-size: cover;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 23px;
  background: linear-gradient(
    to right,
    var(--before-thumb-color) 0%,
    var(--before-thumb-color) var(--thumb-position),
    var(--after-thumb-color) var(--thumb-position),
    var(--after-thumb-color) 100%
  );
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background-color: #e6e5ea;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50px;
}

#slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background-color: #4caf50;
  cursor: pointer;
}
.checkbox-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 20px;
  gap: 17px;
}
.box {
  display: flex;
  gap: 16px;
  padding: 0 0 32px 16px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1px;
}
p {
  color: var(--almost-white, #e6e5ea);
  font-size: 16px;
  font-weight: 700;
}

#check {
  width: 14px;
  height: 10px;
}
.all {
  display: flex;
  white-space: pre;
  text-align: center;
  gap: 10px;
}
.lvl-div {
  display: flex;
  width: 311px;
  background-color: #18171f;
  padding: 17px 16px 18px 16px;
  align-items: center;
  margin: 0 16px 0;
  justify-content: space-between;
}
#medium {
  color: var(--almost-white, #e6e5ea);
  font-size: 18px;
  font-weight: 700;
  white-space: pre;
  margin-left: 20px;
}
#strength {
  color: var(--grey, #817d92);
  font-size: 16px;
  font-weight: 700;
}
.level-boxes {
  display: flex;
  gap: 8px;
}
.lvl {
  width: 10px;
  height: 28px;
  border: 2px solid var(--almost-white, #e6e5ea);
}
#generate {
  background: var(--neon-green, #a4ffaf);
  width: 311px;
  padding: 18px 103px 17px 100px;
  margin: 16px;
  gap: 16px;
  color: var(--Dark-Grey, #24232c);
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
#arrow {
  width: 11.105px;
  height: 12px;
}
button {
  border: none;
  cursor: pointer;
}

.all {
  display: flex;
  align-items: center;
}
.all label {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
}

.all input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.all label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid var(--Almost-White, #e6e5ea);
}
.all input[type="checkbox"]:checked + label::before {
  content: url(../password-generator/images/icon-check.svg);
  background-color: #a4ffaf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  color: var(--almost-white, #e6e5ea);
  font-size: 16px;
  font-weight: 700;
}
#copy {
  cursor: pointer;
}
#copy-btn {
  background: var(--dark-grey, #24232c);
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
}
#copied {
  color: #e6e5ea;
  position: relative;
  /* font-family: inherit; */
  display: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--Neon-Green, #a4ffaf);
}

@media screen and (min-width: 768px) {
  .generator {
    width: 540px;
    padding: 19px 28px 19px 32px;
    font-size: 32px;
  }
  .container {
    width: 540px;
  }
  .slider-div {
    padding: 24px 0 42px;
  }
  .container {
    padding: 0 32px 0 32px;
  }
  .box {
    padding: 0 0 31px 0;
  }
  .lvl-div,
  #generate {
    width: 100%;
    margin: 0;
  }
  .lastDiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
  }
  .label {
    font-size: 18px;
  }
  .all {
    gap: 24px;
  }
  .checkbox-div {
    gap: 19px;
  }
  #medium {
    margin-left: 190px;
  }
  .lvl-div {
    padding: 25px 32px 23px;
  }
  #generate {
    padding: 21px 212px 20px 177px;
    gap: 24px;
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  #generate:hover {
    background-color: var(--Dark-Grey, #24232c);
    color: var(--Neon-Green, #a4ffaf);
    border: 2px solid var(--Neon-Green, #a4ffaf);
    fill: #4caf50;
  }
  #arrow:hover {
    background-color: #4caf50;
  }
}
